@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.main {
    display: flex;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}
.color {
    display: flex;
    height: 120px;
    width: 100%;
    color: #fff;
    //font-size: 100%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    word-wrap: no-wrap;
    p {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
}
.color:first-child {
    //border-radius: 5px 0 0 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.color:last-child {
    //border-radius: 0 5px 5px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.color>p::selection {
    color: #fff;
    background-color: #000
}