.main {
    p {
        margin: 0;
        line-height: 1.05;
    }
    .type {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
    }
    margin: 10px 0;
    padding: 3px 0;
}
.info, .info p {
    color: #0E69F1;
}
.warning, .warning p {
    color: #880E4F;
    color: #D81B60;
}